.inputBox {
    display: flex;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px; 
  }
  .inputWrapper {
    flex: 2; 
  }
  
  .input {
    border: none; 
    outline: none;
    width: 100%;
  }
  
 